[user]
	email = {{ .email | quote }}
	name = {{ .name | quote }}
	signingkey = ~/.ssh/id_ed25519.pub
[core]
	autocrlf = input
	excludesfile = ~/.config/git/ignore
[pull]
	rebase = true
[submodule]
	recurse = true
[push]
	autoSetupRemote = true
[commit]
	gpgsign = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed_signers
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = master
