[user]
	email = 10683430+ETeissonniere@users.noreply.github.com
	name = Eliott Teissonniere
	signingkey = ~/.ssh/id_ed25519.pub
[core]
	autocrlf = input
	excludesfile = ~/.config/git/ignore
[pull]
	rebase = true
[submodule]
	recurse = true
[push]
	autoSetupRemote = true
[commit]
	gpgsign = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed_signers
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = master
{{- if eq .chezmoi.os "darwin" }}
# --- macOS overrides ---
# (none currently)
{{- end }}
