{{- if and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64") -}}
{{ template "bash-header" . }}

if /usr/bin/pgrep -q oahd; then
  log_info "Rosetta 2 is already installed"
  exit 0
fi

log_info "Installing Rosetta 2"
softwareupdate --install-rosetta --agree-to-license
{{- end }}
